*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brown-color: #281b10;
  --grey-color: #756c6d;
  --red-brown-color: #854f43;
  --orange-color: #ff7721;
  --light-grey-color: #f4f3f1;
  --main-serif-font: "Frank Ruhl Libre", serif;
  --body-font: "Lato", sans-serif;
}
html {
  font-size: 10px;
  font-family: var(--body-font);
  scroll-behavior: smooth;
}

section {
  padding: 3.9rem 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
}
.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 8rem;
}

/* header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    transparent
  );
}

.nav {
  font-size: 1.5rem;
  margin: 2rem 2rem;
  height: 4rem;
}

.menu_toggle {
  color: var(--brown-color);
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}

.menu_toggle .fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--brown-color);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav-list::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.nav-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-left: -2px;
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--orange-color);
}

.logo img {
  width: 18rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main */
.main {
  width: 100%;
  height: 70vh;
  min-height: 600px;
  background: url(/image/main.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.sub-headline {
  font-size: 2rem;
  color: var(--grey-color);
  margin: 0.5rem 0;
  animation: fadeup 0.5s forwards;
  opacity: 0;
}

.big-headline {
  color: var(--brown-color);
  font-family: var(--main-serif-font);
  font-size: 6rem;
  line-height: 7rem;
  margin: 3rem 0;
  animation: fadeup 0.5s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.btn-main {
  border: solid 2px var(--orange-color);
  border-radius: 30px;
  padding: 1rem 1.6rem;
  display: inline-block;
  color: var(--orange-color);
  font-size: 1.6rem;
  text-transform: uppercase;
  animation: fadeup 0.5s forwards;
  animation-delay: 1s;
  opacity: 0;
}
.btn-main:hover,
.btn-main:focus {
  background-color: var(--orange-color);
  color: #fff;
}

.btn {
  border: solid 2px var(--orange-color);
  border-radius: 30px;
  padding: 1rem 1.6rem;
  display: inline-block;
  color: var(--orange-color);
  font-size: 1.6rem;
  text-transform: uppercase;
}

.button_type,
.fa-chevron-right {
  margin: 0 0.5rem;
}

.btn:hover,
.btn:focus {
  background-color: var(--orange-color);
  color: #fff;
}

.about-us {
  background-color: var(--light-grey-color);
  height: 55vh;
}
.about-us-box {
  width: 100%;
  height: 60vh;
  min-height: 515px;
  border-radius: 50px;
  margin: -15rem 0;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
  background-color: var(--brown-color);
  overflow: hidden;
  position: relative;
}

.about-us-image {
  position: absolute;
  width: 100%;
  height: 35%;
}

.about-us-image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about-us-content {
  position: absolute;
  margin: 0 5rem;
  top: 40%;
}
.mid-headline {
  color: #fff;
  font-size: 4rem;
  font-family: var(--main-serif-font);
  font-weight: 300;
  position: relative;
  letter-spacing: -0.1rem;
}

.mid-headline::before {
  content: "";
  width: 10rem;
  height: 0.2rem;
  background-color: var(--orange-color);
  position: absolute;
  bottom: -0.2rem;
  border-radius: 0.5rem;
}

.body-typing {
  display: block;
  text-overflow: hidden;
  margin: 2rem 0;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 3rem;
}

.btn-2 {
  color: var(--orange-color);
  font-size: 1.6rem;
  text-transform: uppercase;
}

/* menu */
.menu {
  background-color: var(--brown-color);
  width: 100%;
  height: 65vh;
  min-height: 530px;
}

.menu-box {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
}

.menu-image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8rem;
  margin: 2rem 0;
}

.menu-image img {
  border-radius: 10px;
}

.text-box-content {
  width: 100%;
}

/* chef */
.chef {
  background-color: var(--light-grey-color);
  width: 100%;
  height: 75vh;
  min-height: 700px;
}

.chef-box {
  position: relative;
}

.chef-image {
  position: static;
  width: 100%;
  display: inline-block;
}

.chef-image img {
  border-radius: 15px;
}

.chef-text-box {
  width: 100;
  margin-top: 2rem;
}

.mid-headline-brown {
  color: var(--brown-color);
  font-size: 4rem;
  font-family: var(--main-serif-font);
  font-weight: 300;
  letter-spacing: -0.1rem;
  position: relative;
}

.mid-headline-brown::before {
  content: "";
  width: 10rem;
  height: 0.2rem;
  background-color: var(--orange-color);
  position: absolute;
  bottom: -1rem;
  border-radius: 0.5rem;
}

.body-typing-brown {
  display: block;
  text-overflow: ellipsis;
  margin: 2rem 0;
  color: var(--brown-color);
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 3rem;
}

.body-typing-brown span {
  font-style: italic;
}

/* news */
.news {
  background-color: var(--red-brown-color);
  width: 100%;
  height: 105vh;
}

.news-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.news-card {
  width: 30rem;
  background-color: var(--light-grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border-radius: 15px;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.news-card:nth-child(3) {
  display: none;
}
.news-card:hover {
  transform: scale(1.05);
}

.news-card .news-image img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.news-title {
  color: var(--brown-color);
  font-family: var(--main-serif-font);
  font-size: 2rem;
  text-align: center;
  margin: 1.3rem 1rem;
  line-height: 23px;
}

.news-date {
  width: 90%;
  text-align: center;
  color: var(--grey-color);
  font-family: var(--body-font);
  font-size: 1.3rem;
  padding-bottom: 2rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.news-card .button-2 {
  padding: 1.5rem 0;
}

.news-box .mid-headline {
  text-align: center;
  margin: 2rem 0;
}

.news-box .mid-headline::before {
  content: "";
  width: 9rem;
  height: 0.2rem;
  background-color: var(--orange-color);
  position: absolute;
  bottom: -0.2rem;
  border-radius: 0.5rem;
  align-items: center;
}

/* footer */
footer {
  background-color: var(--brown-color);
  width: 100%;
  height: 40vh;
  position: relative;
}

.back-to-top {
  width: 7rem;
  height: 7rem;
  background-color: var(--brown-color);
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top i {
  display: block;
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  animation: up 2s infinite;
}

.contact-us-box {
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 5rem;
}

.contact-image {
  position: absolute;
  display: none;
}
.contact-mid {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3rem;
}

.socialmedia {
  color: #fff;
  font-size: 2rem;
}

.socialmedia i {
  padding-right: 2rem;
}

.socialmedia i:hover {
  color: var(--orange-color);
}

.contact-us-details {
  width: 50%;
}
.contact-us-details p {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 3rem;
  margin-bottom: 2rem;
}

@keyframes up {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-rem);
  }
}

@keyframes fadeup {
  0% {
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes right {
  0% {
    transform: translatex(-4rem);
  }

  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@media screen and (min-width: 900px) {
  header {
    height: 10vh;
  }
  .menu_toggle {
    display: none;
  }

  .nav {
    margin: 0;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    position: initial;
    height: initial;
    background-color: transparent;
    flex-direction: row;
    transform: initial;
    transition: initial;
    margin-top: 3rem;
    justify-content: space-between;
    padding: 0;
    width: 60%;
  }
  .nav-item {
    border-bottom: 0px;
  }

  .nav-item a {
    text-align: center;
    color: var(--brown-color);
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
  }
  .nav-list li {
    display: inline-block;
  }

  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--orange-color);
    transition: width 0.3s;
  }

  .nav-link:hover {
    color: var(--orange-color);
  }

  .nav-link:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  .logo img {
    left: 0;
    transform: translate(0, 0);
  }
  .main {
    height: 80vh;
    min-height: 680px;
  }

  .big-headline {
    font-size: 7rem;
    line-height: 7.5rem;
  }

  .about-us {
    height: 40vh;
  }
  .about-us-box {
    height: 45vh;
    min-height: 300px;
  }

  .about-us-image {
    width: 50%;
    height: 100%;
  }

  .about-us-content {
    margin-top: 6rem;
    top: 0;
    right: 0;
    width: 39%;
  }

  .body-typing {
    text-overflow: ellipsis;
  }

  /* menu */

  .menu-box {
    justify-content: center;
    margin-left: 1rem;
    margin-top: 3rem;
    flex-direction: row;
  }

  .menu-image {
    position: absolute;
    width: 40%;
    right: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.8rem;
    margin-right: 3rem;
  }

  .text-box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    margin: 0 2rem;
    padding-right: 2rem;
  }

  /* chef */
  .chef {
    height: 55vh;
    min-height: 500px;
  }

  .chef-box {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 3rem;
  }

  .chef-image {
    position: absolute;
    width: 50%;
    left: 0;
    margin-left: 3rem;
  }

  .chef-text-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    margin: 0 2rem;
    padding-right: 2rem;
  }
  /* news */
  .news {
    height: 65vh;
    min-height: 500px;
  }

  .news-box-container {
    flex-direction: row;
  }

  .news-card:nth-child(3) {
    display: inherit;
  }

  /* footer */
  .contact-image {
    display: inline;
    max-width: 35rem;
    right: 0;
  }
  .contact-image img {
    border-radius: 15px;
    object-fit: cover;
  }

  .contact-mid {
    width: 30%;
    position: static;
    padding-right: 3rem;
    max-height: 243px;
  }

  .contact-us-details {
    width: 30%;
  }
}
